.btn {
    padding: 12px 72px 14px 72px;
    background: linear-gradient(266.17deg, #258BE9 0%, #51A7F7 100%);
    border-radius: 57px;
    line-height: 30px;
    font-weight: 600;
    font-size: 24px;
    color: white;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hero {
    position: absolute;
    top: 73%;
    right: 9%;

}

.btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-primary {
    display: block;
    margin: 0 auto 35px auto;
}

.modal-dialog {
    max-width: 1200px;
}

.btn-modal-buy {
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-close {
    position: absolute;
    top: 11%;
    right: 5%;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
}