.btn {
    padding: 12px 72px 14px 72px;
    background: linear-gradient(266.17deg, #258BE9 0%, #51A7F7 100%);
    border-radius: 57px;
    line-height: 30px;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.btn-hero {
    position: absolute;
    top: 73%;
    right: 9%;
}

.btn-primary {
    display: block;
    margin: 0 auto 35px auto;
}

.modal-dialog {
    max-width: 1200px;
}

.btn-modal-buy {
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-close {
    position: absolute;
    top: 11%;
    right: 5%;
}

.modal-body {
    padding: 0;
}