* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */
.header-container {
    height: 80px;
}

.header-logo-block {
    margin: auto 0;
}

.header-logo {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #3C3C3C;
}

.nav {
    /* margin: auto 0; */
}

.nav-list {
    margin: auto 0;
}

.nav-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #3C3C3C !important;
}

.header-info-block {
    margin: auto 0;
}

.header-info__dicription {
    font-family: 'Open Sans';
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #3C3C3C;
}

.header-info__tel {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #3C3C3C;
}

/* main */

/* hero */

.section-hero {
    position: relative;
    padding: 0 !important;
    background: url(../img/hero-img.png) center center no-repeat;
    width: 100%;
    height: 805px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .btn {
    padding: 10px 50px 20px 50px !important;
    background: linear-gradient(266.17deg, #258BE9 0%, #51A7F7 100%);
    border-radius: 1.25rem !important;
    color: white !important;
}

.btn-hero {
    position: absolute;
    top: 60%;
    right: 18%;
} */

/* section why us */

.why-us-title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #3C3C3C;
}

.why-us-advantages {
    height: 725px;
    background-image: url(../img/section-why-us.png);
    background-repeat: no-repeat;
    background-position: 50% -65%;
}

.why-us-section-top-block {
    margin: 0 auto;
    max-width: 200px;
}

.test {
    display: block;
    margin: 0 auto;
}

.why-us-section-top-block-title {
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #3C3C3C;
}

.why-us-advantages-discription {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #3C3C3C;
}

.why-us-section-top {
    margin-top: 15px;
}

.why-us-section-middle {
    margin-top: 70px;
}

.why-us-section-botton {
    margin-top: 85px;
}

.aquar {
    margin-top: 250px;
}

/* section catalog */

.catalog-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #3C3C3C;
    margin-bottom: 70px;
}

.element-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #3C3C3C;
}

.catalog-components {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.catalog-components-first-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-components-first-container-second-block {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 250px;
}

.catalog-components-first-container_element-one {
    width: 769px;
    height: 250px;
    display: flex;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%);
    border-radius: 10px;
    border: none;
    margin-bottom: 26px;
}

.element-one-description {
    margin: 25px 35px 14px 35px;
}

.element-description-catalog-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.element-description-element-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 25px;
    margin-top: 4px;
}

.element-description-button {
    padding: 10px 50px 12px;
    width: 251px;
    height: 47px;
    background: linear-gradient(266.17deg, #258BE9 0%, #51A7F7 100%);
    border-radius: 57px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
}

.element-one-image {
    margin: 20px 20px 13px 0;
}

.element-one-image>img {
    border-radius: 10px;
    border: none;
}

.catalog-components-second-container_element-two {
    width: 365px;
    height: 528px;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%);
    border-radius: 10px;
    border: none;
}

.element-two-image {
    margin-right: 10px;
    margin-left: 20px;
}

.element-two-description {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.flex-container_element-three {
    display: flex;
    width: 323px;
    height: 250px;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    left: 47px;
    position: absolute;
    overflow: hidden;
}

.flex-container_element-three.active {
    width: 769px;
}

.element-three-description {
    visibility: hidden;
    margin: 25px 35px 14px 35px;
    transition: 0.2s;
}

.element-three-image {
    margin: 20px 20px 13px 35px;
}

.flex-container_element-four {
    display: flex;
    width: 323px;
    height: 250px;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    right: 47px;
    position: absolute;
    overflow: hidden;
}

.flex-container_element-four.active {
    width: 769px;
}

.element-four-description {
    visibility: hidden;
    margin: 25px 35px 14px 35px;
    transition: 0.3s;
}

.element-four-image {
    margin: 20px 20px 13px 35px;
}

.catalog-modal-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
}

/* section form */

.section-form {
    position: relative;
}

.inner-form {
    position: relative;
}

.inner-form::after {
    content: " ";
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0px;
    left: 70%;
    z-index: -5;
    background: url(../img/form-fish2.png);
    background-repeat: no-repeat;
}

.inner-form::before {
    content: " ";
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0px;
    left: -3%;
    z-index: -5;
    background: url(../img/form-fish1.png);
    background-repeat: no-repeat;
}

.form {
    margin: 0 auto;
}

.form-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #3C3C3C;
}

.form-discription {
    margin-top: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #3C3C3C;
}

.form-textarea {
    display: block;
    width: 100%;
}

/* modal form */

.modal-dialog {
    max-width: 1116px;
}

.modal-form-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    color: #000000
}

.modal-form-discription {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.modal-label-name {
    display: block;
}

.modal-label-tel {
    display: block;
}

.modal-input {
    width: 500px;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    padding: 14px 15px;
    border: 1px solid #040404;
    border-radius: 10px;
}

.form-container-image-png {
    display: block;
    margin: auto;
}

.modal-container {
    padding: 2.5%;
}

.terrariumPriceRange {
    display: flex;
}

.modal-litres {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000
}

.terrarium-price {
    font-family: 'Open Sans';
    margin-top: 26px;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.question-modal {
    display: block;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.terrarium-price-buy {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
}

.form_radio_group {
    display: inline-block;
    overflow: hidden;
}

.form_radio_group-item {
    display: inline-block;
    float: left;
}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label {
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border-right: none;
    user-select: none;
    background: rgba(81, 167, 246, 0.2);
}

.first-label {
    border-radius: 10px 0px 0px 10px;
}

.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0px 10px 10px 0px;
    margin-right: 15px;
}

/* Checked */
.form_radio_group input[type=radio]:checked+label {
    background: linear-gradient(266.17deg, #258BE9 0%, #51A7F7 100%);
    color: white;
}

/* Hover */
.form_radio_group label:hover {
    color: black
}

/* Disabled */

.form_radio_group input[type=radio]:disabled {
    background: black;
    color: black;
}