* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */
.header-container {
    height: 80px;
}

.header-logo-block {
    margin: auto 0;
}

.header-logo {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #3C3C3C;
}

.nav {
    /* margin: auto 0; */
}

.nav-list {
    margin: auto 0;
}

.nav-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #3C3C3C !important;
}

.header-info-block {
    margin: auto 0;
}

.header-info__dicription {
    font-family: 'Open Sans';
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #3C3C3C;
}

.header-info__tel {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #3C3C3C;
}

/* main */

/* hero */

.section-hero {
    position: relative;
    padding: 0 !important;
    background: url(../img/hero-img.png) center center no-repeat;
    width: 100%;
    height: 805px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* section why us */

.why-us-title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #3C3C3C;
}

.why-us-advantages {
    height: 725px;
    background-image: url(../img/section-why-us.png);
    background-repeat: no-repeat;
    background-position: 50% -65%;
}

.why-us-section-top-block {
    margin: 0 auto;
    max-width: 200px;
}

.test {
    display: block;
    margin: 0 auto;
}

.why-us-section-top-block-title {
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #3C3C3C;
}

.why-us-advantages-discription {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #3C3C3C;
}

.why-us-section-top {
    margin-top: 15px;
}

.why-us-section-middle {
    margin-top: 70px;
}

.why-us-section-botton {
    margin-top: 85px;
}

.aquar {
    margin-top: 250px;
}

/* section catalog */

.catalog-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #3C3C3C;
    margin-bottom: 70px;
}

.element-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #3C3C3C;
}

.catalog-components {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.catalog-components-first-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-components-first-container-second-block {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 250px;
}

.catalog-components-first-container_element-one {
    width: 769px;
    height: 250px;
    display: flex;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%);
    border-radius: 10px;
    border: none;
    margin-bottom: 26px;
}

.element-one-description {
    margin: 25px 35px 14px 35px;
}

.element-description-catalog-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.element-description-element-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 25px;
    margin-top: 4px;
}

.element-description-button {
    padding: 10px 50px 12px;
    width: 251px;
    height: 47px;
    background: linear-gradient(266.17deg, #258BE9 0%, #51A7F7 100%);
    border-radius: 57px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.element-description-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.element-description-button {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.element-one-image {
    margin: 20px 20px 13px 0;
}

.element-one-image>img {
    border-radius: 10px;
    border: none;
}

.catalog-components-second-container_element-two {
    width: 365px;
    height: 528px;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%);
    border-radius: 10px;
    border: none;
}

.element-two-image {
    margin-right: 10px;
    margin-left: 20px;
}

.element-two-description {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.flex-container_element-three {
    display: flex;
    width: 323px;
    height: 250px;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    left: 47px;
    position: absolute;
    overflow: hidden;
}

.flex-container_element-three.active {
    width: 769px;
}

.element-three-description {
    visibility: hidden;
    margin: 25px 35px 14px 35px;
    transition: 0.2s;
}

.element-three-image {
    margin: 20px 20px 13px 35px;
}

.flex-container_element-four {
    display: flex;
    width: 323px;
    height: 250px;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    right: 47px;
    position: absolute;
    overflow: hidden;
}

.flex-container_element-four.active {
    width: 769px;
}

.element-four-description {
    visibility: hidden;
    margin: 25px 35px 14px 35px;
    transition: 0.3s;
}

.element-four-image {
    margin: 20px 20px 13px 35px;
}

.catalog-modal-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
}

/* wholesalers section */

.wholesalers-section {
    margin-bottom: 70px;
}

.wholesalers-outer-block {
    position: relative;
}

.wholesalers-outer-block > img {
    position: absolute;
    top: -40px;
    left: 134px;
}

.wholesalers-grey-block {
    width: 1028px;
    height: 351px;
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%), #D9D9D9;
    border-radius: 10px;
    margin: auto;
}

.wholesalers-grey-block-filling {
    text-align: center;
    padding: 55px 0 40px 222px;
}

.wholesalers-filling-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
    color: #000000;
    padding-right: 15px;
    margin-bottom: 0;
}

.wholesalers-filling-header-second {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    padding-right: 354px;
    margin-bottom: 20px;
}

.wholesalers-name__input {
    border: 1px solid #757575;
    border-radius: 10px;
    width: 236px;
    height: 47px;
    background: linear-gradient(262.19deg, #eeeeee00 0%, #f7f7f700 100%), #d9d9d900;
    padding-left: 15px;
    margin-right: 25px;
}

.wholesalers-name__input::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  .wholesalers-name__input:focus {
    color: #212529;
    background-color: #ffffff00;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(53, 53, 53, 0.25);
  }

  .wholesalers-name__input:disabled,
  .wholesalers-name__input[readonly] {
    background-color: #f5f5f500;
    opacity: 1;
  }

.wholesalers-email__input {
    border: 1px solid #757575;
    border-radius: 10px;
    width: 324px;
    height: 47px;
    background: linear-gradient(262.19deg, #eeeeee00 0%, #f7f7f700 100%), #d9d9d900;
    padding-left: 15px;
}

.wholesalers-email__input::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  .wholesalers-email__input:focus {
    color: #212529;
    background-color: #ffffff00;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(53, 53, 53, 0.25);
  }

  .wholesalers-email__input:disabled,
  .wholesalers-email__input[readonly] {
    background-color: #f5f5f500;
    opacity: 1;
  }

.wholesalers-button {
    width: 218px;
    height: 52px;
    background: linear-gradient(266.17deg, #258BE9 0%, #51A7F7 100%);
    border-radius: 57px;
    border: none;
    color: #FFFFFF;
    position: relative;
    left: 700px;
    padding: 0;
}
/* slider form */

.slider-section {
    margin-bottom: 70px;
}

.itc-slider__item {
    flex: 0 0 100%;
    max-width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;

  }

  .itc-slider__item:nth-child(1) {
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%), #D9D9D9;
    background-size: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .itc-slider__item:nth-child(2) {
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%), #D9D9D9;
    background-size: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .itc-slider__item:nth-child(3) {
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%), #D9D9D9;
    background-size: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .itc-slider__item:nth-child(4) {
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%), #D9D9D9;
    background-size: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .itc-slider__item:nth-child(5) {
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%), #D9D9D9;
    background-size: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.slider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.slider-info-photo > img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.slider-info-name > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #232323;
    text-align: center;
    margin: 8px;
}

.slider-info-rating {
    display: flex;
}

.slider-info-description {
    margin: 15px 80px;
}

.slider-info-description > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #232323;
}

.slider-info-link {
    display: flex;
}

.slider-info-link > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.slider-info-link > a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(35, 35, 35, 0.5);
    text-decoration: none;
}

.slider-info-link > a:hover {
    color: rgba(26, 26, 26, 0.877);
}

.slider-info-date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(35, 35, 35, 0.5);
    margin-left: 415px;
}
/* section form */

.section-form {
    position: relative;
}

.inner-form {
    position: relative;
}

.inner-form::after {
    content: " ";
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0px;
    left: 70%;
    z-index: -5;
    background: url(../img/form-fish2.png);
    background-repeat: no-repeat;
}

.inner-form::before {
    content: " ";
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0px;
    left: -3%;
    z-index: -5;
    background: url(../img/form-fish1.png);
    background-repeat: no-repeat;
}

.form {
    margin: 0 auto;
}

.form-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #3C3C3C;
}

.form-discription {
    margin-top: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #3C3C3C;
}

.form-textarea {
    display: block;
    width: 100%;
}

/* modal form */

.modal-dialog {
    max-width: 1116px;
}

.modal-content-img {
    width: 400px;
    height: 300px;
}

.modal-content-img > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-form-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    color: #000000
}

.modal-form-discription {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.modal-label-name {
    display: block;
}

.modal-label-tel {
    display: block;
}

.modal-input {
    width: 435px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    padding: 14px 15px;
    border: 1px solid #040404;
    border-radius: 10px;
}

.form-container-image-png {
    display: block;
    margin: auto;
}

.modal-container {
    padding: 1.5%;
}

.terrariumPriceRange {
    display: flex;
}

.modal-litres {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000
}

.terrarium-price {
    font-family: 'Open Sans';
    margin-top: 26px;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.question-modal {
    display: block;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.question-modal-lid {
    display: block;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    float: left;
    margin-right: 30px;
}

.question-modal-color {
    display: block;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.terrarium-price-buy {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
}

.form_radio_group {
    display: inline-block;
    overflow: hidden;
    width: 410px;
}

.form_radio_group-item {
    display: inline-block;
    float: left;
}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label {
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    padding: 6px 30px;
    line-height: 34px;
    border-right: none;
    user-select: none;
    background: rgba(81, 167, 246, 0.2);
}

.first-label {
    border-radius: 10px 0px 0px 10px;
}

.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0px 10px 10px 0px;
    margin-right: 15px;
}

/* Checked */
.form_radio_group input[type=radio]:checked+label {
    background: linear-gradient(266.17deg, #258BE9 0%, #51A7F7 100%);
    color: white;
}

/* Hover */
.form_radio_group label:hover {
    color: black
}

/* Disabled */

.form_radio_group input[type=radio]:disabled {
    background: black;
    color: black;
}

.form-container-second-container {
    display: flex;
}

.select {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-left: 75px;
    width: 21%;
}

.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #ffffff;
    color: #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000000;
    background: #ffffff;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

/* footer */

.site-footer {
    background: linear-gradient(262.19deg, #EEEEEE 0%, #F7F7F7 100%), #D9D9D9;
    height: 120px;
}

.site-footer-desc {
    display: flex;
    justify-content: space-around;
}

.site-footer-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #3C3C3C;
}